{% load static %}
<footer class="cs-fooer">
      <div class="cs-fooer_main">
        <div class="container">
          <div class="row">
          <div class="col-lg-4 col-sm-4">
              <div class="cs-footer_item">
                <div class="cs-text_widget">
                  
                
                <a href="<?= base_url('') ?>">
    <img src="assets_life/img/EVOXIGN PRIMARY LOGO 1.png" alt="EVOXIGN PRIMARY LOGO" />
</a>

                  <p>Welcome to Evoxign, your premier destination for comprehensive digital marketing solutions, where creativity meets strategy, and your brand finds a partner in success.</p>
                </div>
                <div class="cs-social_btns cs-style1">
  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/in/ashif-vk-921260177/" class="cs-center" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-linkedin"></i>
  </a>
  
  <!-- Facebook -->
  <a href="https://www.facebook.com/ashif.vk.75" class="cs-center" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-facebook-f"></i>
  </a>
  
  <!-- X (Twitter) -->
  <a href="https://github.com/ashifvk" class="cs-center" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github"></i>
  </a>
  
  <!-- Instagram -->
  <a href="https://www.instagram.com/az1fe/" class="cs-center" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-instagram"></i>
  </a>
</div>


              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="cs-footer_item">
                <h2 class="cs-widget_title">Services</h2>
                <ul class="cs-menu_widget cs-mp0">
                  <li> <a href="">Digital</a> </li>
                  <li> <a href="">Creative</a></li>
                  <li> <a href="">Films</a> </li>
                  <li> <a href="">Photography</a></li>
                  <li> <a href="">Social</a>  </li>
                  <li> <a href="">Website</a></li>
                  <li> <a href="">Software</a> </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="cs-footer_item">
                <h2 class="cs-widget_title">Contact Us</h2>
                <ul class="cs-menu_widget cs-mp0">
                  <li>Address 
                VETTAKKARAKANDY (HOUSE), PUNNASSERY (POST), 673585 (PIN), KOZHIKODE, KERALA</li>
                  <li><a href="tel:8138060010" >+91 9847 896741</a></li>
                  <li><a href="mailto:info@evoxign.com" style="font-size: 14px;">ashifvk503@gmail.com</a>
                  </li>
                </ul>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="cs-bottom_footer">
          <div class="cs-bottom_footer_left">
            <div class="cs-copyright">Copyright © 2024 ashifvk.</div>
          </div>
          <!-- <div class="cs-bottom_footer_right">
            <ul class="cs-footer_links cs-mp0">
              <li>
                <a href="">Terms of Use</a>
              </li>
              <li>
                <a href="">Privacy Policy</a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <span class="cs-scrollup">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 10L1.7625 11.7625L8.75 4.7875V20H11.25V4.7875L18.225 11.775L20 10L10 0L0 10Z" fill="currentColor" />
      </svg>
    </span>
    <!-- Start Video Popup -->
    <div class="cs-video_popup">
      <div class="cs-video_popup_overlay"></div>
      <div class="cs-video_popup_content">
        <div class="cs-video_popup_layer"></div>
        <div class="cs-video_popup_container">
          <div class="cs-video_popup_align">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="about:blank"></iframe>
            </div>
          </div>
          <div class="cs-video_popup_close"></div>
        </div>
      </div>
    </div>
    <!-- End Video Popup -->
    <!-- Script -->
    <script src="{% static "assets_life/js/plugins/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static "assets_life/js/plugins/isotope.pkg.min.js" %}"></script>
    <script src="{% static "assets_life/js/plugins/jquery.slick.min.js" %}"></script>
    <script src="{% static "assets_life/js/plugins/jquery.counter.min.js" %}"></script>
    <script src="{% static "assets_life/js/plugins/lightgallery.min.js" %}"></script>
    <script src="{% static "assets_life/js/plugins/wow.min.js" %}"></script>
    <script src="{% static "assets_life/js/plugins/gsap.min.js" %}"></script>
    <script src="{% static "assets_life/js/main.js" %}"></script>
  </body>
</html>